#head { grid-area: header; }
#content { grid-area: main; }

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: "header"
                         "main";
}

nav {
    float: right;
    margin-right: 10px;
   
}

.nav-link {
    display: inline;
    color: black;
    list-style-type: none;
    padding: 10px;
}

#ninedots {
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sign-in {
    color: white;
    padding: 12px;
    background-color: rgb(81, 172, 224);
    border-radius: 2px;
}

#content {
    text-align: center;
    margin-top: 0px;
}

#googlelogo {
    width: 380px;
    height: 150px;
    align-items: center;
}

#search {
    padding: 15px;
    width: 500px;
}

.submit1 {
    padding: 20px;

}